*.iml
.idea/
target/
dependency-reduced-pom.xml

# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
web-application/front-end/node_modules/

web-application/front-end/.DS_Store